### Localisation
d-i debian-installer/language string fr
d-i debian-installer/country string FR
d-i debian-installer/locale string fr_FR.UTF-8
d-i keyboard-configuration/xkb-keymap select fr

### Réseau
d-i netcfg/choose_interface select auto
d-i netcfg/dhcp_timeout string 60
d-i hw-detect/load_firmware boolean true

### Mirroir
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.fr.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Compte utilisateur
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password password motdepasse1
d-i passwd/root-password-again password motdepasse1

### Partitionnement
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Installation de base
d-i pkgsel/include string openssh-server build-essential apache2 mysql-server php php-mysql php-snmp snmpd cacti

### GRUB
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Fin de l'installation
d-i finish-install/reboot_in_progress note

### Post-installation
d-i preseed/late_command string \
    in-target sh -c "echo 'mysql-server mysql-server/root_password password motdepasse1' | debconf-set-selections"; \
    in-target sh -c "echo 'mysql-server mysql-server/root_password_again password motdepasse1' | debconf-set-selections"; \
    in-target sh -c "DEBIAN_FRONTEND=noninteractive apt-get -y install mariadb-server"; \
    in-target sh -c "git clone -b 1.2.x https://github.com/Cacti/cacti.git /var/www/html/cacti"; \
    in-target sh -c "mysql -uroot -pmotdepasse1 -e 'CREATE DATABASE cactidb DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci'"; \
    in-target sh -c "mysql -uroot -pmotdepasse1 -e 'GRANT ALL PRIVILEGES ON cactidb.* TO \"cactiuser\"@\"localhost\" IDENTIFIED BY \"motdepasse1\"'"; \
    in-target sh -c "mysql -uroot -pmotdepasse1 -e 'GRANT SELECT ON mysql.time_zone_name TO cactiuser@localhost'"; \
    in-target sh -c "mysql -uroot -pmotdepasse1 -e 'FLUSH PRIVILEGES'"; \
    in-target sh -c "mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -uroot -pmotdepasse1 mysql"; \
    in-target sh -c "mysql -uroot -pmotdepasse1 cactidb < /var/www/html/cacti/cacti.sql"; \
    in-target sh -c "cp /var/www/html/cacti/include/config.php.dist /var/www/html/cacti/include/config.php"; \
    in-target sed -i "s/\$database_username = 'cactiuser';/\$database_username = 'cactiuser';\n\$database_password = 'motdepasse1';/" /var/www/html/cacti/include/config.php; \
    in-target sed -i "s/memory_limit = .*/memory_limit = 512M/" /etc/php/8.2/apache2/php.ini; \
    in-target sed -i "s/max_execution_time = .*/max_execution_time = 60/" /etc/php/8.2/apache2/php.ini; \
    in-target sh -c "echo '*/5 * * * * php /var/www/html/cacti/poller.php > /dev/null 2>&1' | crontab -u www-data -"; \
    in-target chown -R www-data:www-data /var/www/html/cacti; \
    in-target systemctl restart apache2 mariadb;